<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="application_name" source="spring.application.name" scope="context"/>
    <springProperty name="LOGSTASH_HOST" source="logstash.host" defaultValue="localhost"/>
    <springProperty name="LOGSTASH_PORT" source="logstash.port" defaultValue="5000"/>

    <springProfile name="elk-logs">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
    </springProfile>

    <root level="INFO">
        <springProfile name="elk-logs">
            <appender-ref ref="LOGSTASH" />
        </springProfile>
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>