<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} -- %X{qwe:-} -- %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="application_name" source="spring.application.name" scope="context"/>
    <springProperty name="LOGSTASH_HOST" source="logstash.host" defaultValue="localhost"/>
    <springProperty name="LOGSTASH_PORT" source="logstash.port" defaultValue="5000"/>

<!--    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--        <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--    </appender>-->

    <root level="INFO">
        <!--        <appender-ref ref="LOGSTASH" />-->
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>